---
layout: default
permalink: /
thumb_force_logo: true
---

{%- include amsf/core -%}

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

    <h1 class="image-title">
      Game Dev Happy Hour
      <img src="{{ amsf_user_assets }}/svg/GameDevHappyHour_Logo_Full_Colour.svg">
    </h1>

    <h2 class="sub-title">{{ site.description }}</h2>

    <small>Join us on <b><a href="{{ site.discord }}">Discord</a></b></small>
  </header>

  <div class="page-content">
    <h2>Events</h2>
    {% for post in site.tags.intro %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>About Us</h2>
    {% for post in site.tags.about %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}
  </div>
</article>
