---
layout: default
permalink: /
thumb_force_logo: true
---

{%- include amsf/core -%}

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

    <h1 class="image-title">
      Game Dev Happy Hour
      <img src="{{ amsf_user_assets }}/svg/GameDevHappyHour_Logo_Full_Colour.svg">
    </h1>

    <h2 class="sub-title">Hong Kongs Primary Event for Game Developers</h2>

    <small>a.k.a. <b>GDHH</b><b class="amsf-version">Join us on <a href="https://github.com/sparanoid/almace-scaffolding">Discord</a></small>
  </header>

   <!-- Post content -->
  <div class="post-content">
    {{ content }}
  </div>

  <div class="page-content">
    <h2>Events</h2>
    {% for post in site.tags.intro %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}

    <h2>About Us</h2>
    {% for post in site.tags.about %}
      {%- include themes/{{ site.amsf_theme }}/includes/page-item.html -%}
    {% endfor %}
  </div>
</article>
